.user-card {
  height: 20%;
  width: 50%;
}

.player-card-grid {
  height: 100%;
  width: 40%;
}

.btn-team {
  background-color: lightskyblue;
  padding-bottom: 100%;
  width: 13em;
}

.player-card {
  height: 50%;
  width: 75%;
}
