@import "../../common/global";

*:focus {
    outline: none !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    width: 80%;
    padding-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery-approve {
    width: 80%;
    padding-bottom: 5%;
    padding-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-btn {
    font-size: 50;
}
